  :root {
    --warna-ungu:4px 4px 5px rgb(212,109,255);
  }
  
  
  
      body {
        margin: 0;
         padding: 0;
      
}
       .judul {
         font-size: 30px;
          font-family: "Dancing script", Sans-Serif;
           margin-top: 70px;
       }
       .parent {
          display: grid;
         gap: 25px;
       }
       .container-judul {
         display: grid;
          justify-content: center;
       }

.button {
  display: flex;
   gap: 5px;
  padding: 9px 40px;
   background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
     background: ##ffffff;
      position: fixed;
       width: 100%;
        z-index: 99;
}


/* LINK STYLE */
.nav-button {
  text-decoration: none;
   font-size: 16px;
   font-weight: 500;
  color: #1f2937;
     padding: 6px 10px;
   border-radius: 8px;
  transition: 0.2s ease;
   font-family: "Anton", Sans-Serif;
}

/* HOVER EFFECT */
.nav-button:hover {
   background: #f3f4f6;
  color: #111827;
}

/* ACTIVE PAGE (Home) */
.nav-button.active {
   background: #3b82f6;
  color: white;
}
.plus {
  background: black;
   width: 0;
    height: 2px;
     transition: 0.5s ease-in-out;
}
.nav-button:hover .plus {
  width: 100%;
}
 .poto {
   width: 300px;
    height: 300px;
     background-color: black;
      border-radius: 500px;
       gap: 5px;
        box-shadow: var(--warna-ungu);
         transition: 1s ease-in-out;
        border: 4px solid rgb(205,148,255);
 }
 .poto:hover {
   transform: translateY(-20px);
    filter: blur(2px);
 }
 .container-foto {
     display: grid;
      justify-content: center;
      
 }
 .nama {
    display: grid;
   justify-content: center;
    font-family: "merriweather sans", 'Sans-Serif';
 }
 .container-about-me {
   display: grid;
    justify-content: center;
     

 }
 .about {
   font-size: 30px;
    margin-top: 80px;
     display: flex; 
     justify-content: center;
       font-family: "oswald", 'Sans-Serif';
       color: white;
        text-align: center;
          
 }
 .foto {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
     
 }
 @media (min-width: 1040px) {
   .foto {
     grid-template-columns: 1fr 2fr;
   }
   .container-about-me {
     justify-content: start;
      padding: 0 10%;
      }
      
   .about {
    gap: 0;
      }
    .styleplus {
      height: 40px;
       width: 120px;
    }
    .container1 {
      padding: 0 0%;
    }
 }
.item {
box-shadow: var(--warna-ungu);
   height: 200px;
    background-color: rgb(255,255,255);
      border: 1px solid rgba(0,0,0,0.08);
      padding: 0 25px;
       border-radius: 5px;
        overflow: hidden;
         transition: 0.5s ease-in-out;
          display: grid;
}
.styleplus {
  background-color: rgb(152,0,254);
   display: inline-block;
  padding: 0;
}
.container1 {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
     padding: 0 5%;
      justify-content: center;
}
.kanan {
  display: grid;
}
.tujuan {
  font-size: 30px;
   line-height: 20px;
}
.isi {
  color: rgb(81,81,81);
}
.tambahan {
  height: 40px;
   width: 250px;
    background-color: rgb(98,25,129); 
     transition: 1s ease-in-out;
      justify-self: end;
       align-self: end;
   transform:  translateX(50px) skew(50deg);
        
}
.item:hover {
  transform: translateY(-5px) scale(1.05);
   box-shadow: 3px 3px 5px rgb(66,19,85);
}
.item:hover .tambahan {
  transform:  translateX(400px) skew(50deg);

}
.isi-sertifikat {
   height: 200px;
    background-color: #262626;
     border-radius: 5px;
      border: 2px solid #545454;
        overflow: hidden;
       box-shadow: 2px 2px 4px rgb(37,37,37);
      transition: 1s ease-in-out;
     position: relative;
}
.judul-sertifikat {
  text-align: center;
   margin-top: 100px;
   font-size: 25px;
     color: white;
      font-family: "oswald", 'Sans-Serif';
}
.sertifikat {
  display: grid;
   justify-content: center;
    gap: 15px;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 0 10%;;
}
.back-judul {
  background-color: rgb(139,6,255);
  height: 40px;
    width: 120px;
}
.gambar-sertifikat {
  width: 100%;
   height: 100%;
   border-radius: 5px;
    object-fit: cover;
     background-color: white;
     position: absolute;
     top: 0;
    left: 0;
}
.styleplus-purple {
  width: 100%;
   height: 50%;
    background-color: rgb(138,32,230);
     transform: translateX(100%);
      transition: 1s ease-in-out;
       position: absolute;
       top: 0;
      left: 0;
     z-index: 1;
}
.styleplus-purple1 {
  width: 100%;
   height: 50%;
    background-color: rgb(138,32,230);
      transform: translateX(-100%);
       transition: 1s ease-in-out;
      position: absolute;
     top: 50%;
    left: 0;
   z-index: 1;
}
.isi-sertifikat:hover .styleplus-purple1 {
  transform: translateX(0px);
}
.isi-sertifikat:hover .styleplus-purple {
  transform: translateX(0px);
}
.isi-sertifikat:hover {
  transform: translateY(-10px);
}
.isi-sertifikat:hover .nama-sertifikat {
  transform: translateY(-60%) translatex(-50%);
   opacity: 1;
}
.nama-sertifikat {
  position: absolute;
  top: 50%;
   left: 50%;
    transform: translate(-50%, -50%);
   font-size: 20px;
  color: white;
   text-align: center;
   z-index: 2;
    margin: auto auto;
     opacity: 0;
      transition: 2s ease-in-out;
       font-family: "Archivo black", 'Sans-Serif';
}
.masukan {
  display: grid;
    justify-content: center;
     gap: 15px;
      

}
 .sends {

    height: 20px;
     border: 1px solid #9149db;
      border-radius: 5px;
       padding-left: 10px;
 }
 .Kirim-Masukan {
   
    height: 70px;
     border: 1px solid #9149db;
      border-radius: 5px;
       padding-left: 10px;
 }
 .kirim {
   background-color: #9149db;
    width: 300px;
     height: 40px;
      border-radius: 3px;
       border: 1px solid #a27bca;
        color: white;
         font-family: "Bebas Neue", 'Sans-Serif';
          font-size: 20px;
 }
 
 
 .penutup {
   background: #c39aed;
    height: 50px;
     border-radius: 5px 5px 0px 0px;
     display: grid;
      align-items: center;
       justify-content: center;

 }
 

